<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles-me.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>

    {{> header}}

    <p style="text-align:center; font-size:20px;"><img class="me" src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/121478810_347400866567864_9139746178474101947_o.jpg?_nc_cat=110&_nc_sid=730e14&_nc_ohc=CQrIh3ZUe_0AX8yYBzS&_nc_oc=AQlvTK8fviz4z8pnm6aVt3Xxi225b8ukg41ugzs2ZtEiHCnLocz5GuzGMP32QnLUWeY&_nc_ht=scontent.fdel1-1.fna&oh=06c36330dd67ecf1391e14a2e427259d&oe=5FAC5ED5" align="middle"></p></br>
    <p class="intro">My name is Jaishna Singh Bhogal.</br>Currently, I am studying Computer Engineering at Delhi Technological University.
    </br>I am interested in Competitive Programming and am a Full Stack Web Developer. </p> </br>


    <p style="text-align:center;"><img src="" align="middle" height="40" ></p>
    </a>
</body>
</html>
